.artinfo
  .jumbotron-fluid
    h2 Open a&nbsp;529 savings plan
    p.artinfolead
      | Work with your financial advisor to open a CollegeAmerica 529 savings plan. He or she will help you to understand your choices and choose the best investment option for your family. Plus, working with a professional may give you some extra time to spend with your favorite people &mdash; your kids.&nbsp;If you don&apos;t have a financial advisor, you can use our tool to find one.
  .mt-2.d-flex.justify-content-center
    a.btn.btn-outline-dark.text-uppercase.rounded-0(href='#')
      | Find an advisor

