
.socialshare
  ul
    li
      a#top(href="#") top
    li
      a#messages(href="#") messages
    li
      a#mail(href="#") mail
    
    li
      a#facebook(href="#") facebook
    li
      a#linkedin(href="#") linkedin
    li
      a#twitter(href="#") twitter