.artwimage {
    background-color : #0099e2 !important;

    &__maxwidth770px{
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        font-size : 1.22222rem;
        padding : 2.22222rem 1.66667rem;
        line-height : 1.2;
        background-color : #fff !important;
        box-shadow : 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    &__title {
        font-family : "Avenir Next LT W01 Demi",Arial,sans-serif !important;
        text-transform : uppercase !important;
        color : #fff;
        font-size : 15px;
    } 

    img {
        max-width : 100%;
        vertical-align : middle;
    }

    figure {
        margin : 0px 0px 0px 0px;
    }

    h3 {
    margin-bottom : 31px;
    font-family : "AvenirNextLTCom-Demi";
    color : #fff;
    font-size : 30px;
    font-weight : bold;
    }

    .display-4 {
        font-size : 22px;
        color : #fff;
        margin-bottom : 1.5rem;
        font-size : 22px;
        line-height : 1.6;
        font-family : "AvenirNextLTCom-Regular",Arial,"sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }

    h4 {
    margin-bottom : 1.2rem;
    font-family : "AvenirNextLTCom-Demi";
    font-weight : bold;
    line-height : 1.371;
    font-size : 25px;
    }

    ul {
        padding-left : 0px !important;
    }

    li {
        padding : 20px 5px;
        border-top : 2px solid #f7f7f7;
        font-family : "AvenirNextLTCom-Regular",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size : 22px;
        font-weight : 400;
        line-height : 1.6;
        color : #333;
        text-align : left;
        list-style-type : none;

    }   
}

