
.container.paddingbottom100.fourdiv
  .row.py-5
    .col-xl-7.col-12
      .col.py-4
        p.text-secondary PLAN
        h3 Your savings plan: Start now.
        p.fourdivpara
          | You can do this. We make it simple to figure out what,
          br
          |  when and how much to save.
        p.captiontwo Let&rsquo;s do the math.
      .d-flex
        .col-6
          article
            figure
              img.transicon(src='../../assets/icons/icon-savings-calculator.png' alt='transfer icon')

            p.font-size16px I want to see how much my savings can grow over time.
          a.fourdivatag(href="#") Go to the savings calculator
        .col-6
          article
            figure
              img.transicon(src='../../assets/icons/icon-savings-calculator.png' alt='transfer icon')

            p.font-size16px I want to see how much my savings can grow over time.
          a.fourdivatag(href="#") Go to the college calculator
    .col-xl-5.col-12
      img.fourdivimg(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png" alt="Info")



