.fourdiv {
  h3 {
    margin-bottom: 21px;
    font-family: "AvenirNextLTCom-Demi";
    font-size: 31px;
  }
  .font-size16px {
    font-family: "AvenirNextLTCom-Demi";
    font-size: 16px;
  }
  .text-secondary {
    font-size: 14px;
    color: #7f7f7f !important;
    margin-bottom: 18px;
    font-family: "AvenirNextLTCom-Bold";
    letter-spacing: 1.5px;
  }
  .fourdivimg {
    max-width: 100% !important;
    margin-top: 20% !important;
    margin-bottom: auto !important;
  }
  .transicon {
    width: 64px;
    height: 64px;
    margin-bottom: 18px;
  }
  .fourdivpara {
    font-size: 22px;
    margin-bottom: 27px;
    color: #333333;
    font-family: "AvenirNextLTCom-Regular", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .captiontwo {
    font-size: 22px;
    margin-bottom: 18px;
    font-family: "AvenirNextLTCom-Demi";
  }
  .fourdivatag {
    color: #0099e2;
    font-size: 18px;
    font-weight: bold;
  }
}

.paddingbottom100 {
  padding-bottom: 100px;
  padding-top: 18px;
}
