//link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' rel='stylesheet')

.footmenu
  .col-lg-12.container80percent
    .row
      .col-md-2.px-0
        .listhide.listshow
          h5.h5--mb-5rem.text-uppercase.text-bold(style={'padding-left': '0px !important'}) My Accounts
          ul.list-unstyled
            li(style={'padding-left': '0px !important'})
              a(href='#') View Portfolio
            li(style={'padding-left': '0px !important'})
              a(href='#') Portfolio Value History
            li(style={'padding-left': '0px !important'})
              a(href='#') Statements & Tax Forms
            li(style={'padding-left': '0px !important'})
              a(href='#') Sign Up for Paperless Delivery of Documents
        #accordion1.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingOne(role='tab')
            h5.card-header.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion1' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                | My Accounts
          #collapseOne.collapse(role='tabpanel' aria-labelledby='headingOne')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') View Portfolio
                li
                  a(href='#') Portfolio Value History
                li
                  a(href='#') Statements & Tax Forms
                li
                  a(href='#') Sign Up for Paperless Delivery of Documents
      .col-md-2.px-0
        .listhide.listshow
          h5.h5--mb-5rem.text-uppercase.text-bold Investments
          ul.list-unstyled
            li
              a(href='#') All American Funds
            li
              a(href='#') Compare Funds
            li
              a(href='#') Prospectuses & Annual Reports
         
        #accordion2.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingTwo(role='tab')
            h5.card-header.card-header--bordertop-1px.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion2' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                | Investments
          #collapseTwo.collapse(role='tabpanel' aria-labelledby='headingTwo')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') All American Funds
                li
                  a(href='#') Compare Funds
                li
                  a(href='#') Prospectuses & Annual Reports
      .col-md-2.px-0
        .listhide.listshow
          h5.h5--mb-5rem.text-uppercase.text-bold Insights
          ul.list-unstyled
            li
              a(href='#') Investment Insights
            
        #accordion3.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingThree(role='tab')
            h5.card-header.card-header--bordertop-1px.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion3' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                | Insights
          #collapseThree.collapse(role='tabpanel' aria-labelledby='headingThree')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') Investment Insights
                  
      .col-md-2.px-0
        .listhide.listshow
          h5.h5--mb-5rem.text-uppercase.text-bold Products
          ul.list-unstyled
            li
              a(href='#') Traditional and Roth IRAs
            li
              a(href='#') SIMPLE IRAs
            li
              a(href='#') 401(k) Plans
            li
              a(href='#') CollegeAmerica 529 Plans
            li
              a(href='#') Portfolio Series
              
        #accordion4.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingFour(role='tab')
            h5.card-header.card-header--bordertop-1px.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion4' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                | Products
          #collapseFour.collapse(role='tabpanel' aria-labelledby='headingFour')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') Traditional and Roth IRAs
                li
                  a(href='#') SIMPLE IRAs
                li
                  a(href='#') 401(k) Plans
                li
                  a(href='#') CollegeAmerica 529 Plans
                li
                  a(href='#') Portfolio Series   
                  
      .col-md-2.px-0
        .listhide.listshow
          h5.h5--mb-5rem.text-uppercase.text-bold Planning
          ul.list-unstyled
            li
              a(href='#') Tools & Calculators
            li
              a(href='#') Investing Fundamentals
            li
              a(href='#') Mutual Fund Basics
            li
              a(href='#') Creating a Financial Plan
            li
              a(href='#') Retirement Planning
            li
              a(href='#') College Savings
            li
              a(href='#') Market Fluctuations
              
        #accordion5.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingFive(role='tab')
            h5.card-header.card-header--bordertop-1px.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion5' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                | Planning
          #collapseFive.collapse(role='tabpanel' aria-labelledby='headingFive')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') Tools & Calculators
                li
                  a(href='#') Investing Fundamentals
                li
                  a(href='#') Mutual Fund Basics
                li
                  a(href='#') Creating a Financial Plan
                li
                  a(href='#') Retirement Planning
                li
                  a(href='#') College Savings
                li
                  a(href='#') Market Fluctuations            
                  
      .col-md-2.px-0
        .listhide.listshow
          h5.h5-mb--5rem.text-uppercase.text-bold(style={'padding-right': '0px !important'}) Service & Support
          ul.list-unstyled
            li(style={'padding-right': '0px !important'})
              a(href='#') Forms
            li(style={'padding-right': '0px !important'})
              a(href='#') Tax Center
            li(style={'padding-right': '0px !important'})
              a(href='#') How to Use Your Account
            li(style={'padding-right': '0px !important'})
              a(href='#') Changing Your Preferences
            li(style={'padding-right': '0px !important'})
              a(href='#') Contact Us
              
        #accordion6.accordionhide.accordionshow(role='tablist' aria-multiselectable='true')
          #headingSix(role='tab')
            h5.card-header.card-header--bordertop-1px.py-3.border-0.text-uppercase.text-bold
              a(data-toggle='collapse' data-parent='#accordion6' href='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
                | Service & Support
          #collapseSix.collapse(role='tabpanel' aria-labelledby='headingSix')
            .card-block
              ul.list-unstyled
                li
                  a(href='#') Forms
                li
                  a(href='#') Tax Center
                li
                  a(href='#') How to Use Your Account
                li
                  a(href='#') Changing Your Preferences
                li
                  a(href='#') Contact Us

                  
                  
                  
                  
                  
                  
                  
                  
