

.bd-example(itemscope)
    #carouselExampleCaptions.carousel.slide(data-ride='carousel')
        
        .indicators
            ol.carousel-indicators
                li.active
                    a(data-target='#carouselExampleCaptions', data-slide-to='0') New Parents
                li
                    a(data-target='#carouselExampleCaptions', data-slide-to='1')  Growing family
                li
                    a(data-target='#carouselExampleCaptions', data-slide-to='2')  Up next, college
                li
                    a(data-target='#carouselExampleCaptions', data-slide-to='3')  On campus
                li
                    a(data-target='#carouselExampleCaptions', data-slide-to='4')  Grandparents

        .carousel-inner
            .carousel-item.active.py-5
                .carousel__title.mob.pt-6 New parents
                img.col-lg-5.col-sm-12(src='../../assets/carousel/Expectant-mother-and-father-illustration-small-green.webp' alt='New Parents')
                article.col-lg-6.col-sm-12.float-right
                    .carousel__title.desk New parents
                    p.lead You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
                    .sub Start now. Start small. Baby steps.
                    b
                     a(href="#" style={color:'#197bc2'}) Learn more &#8594

            .carousel-item.py-5
                .carousel__title.mob.pt-6 Growing family
                img.col-lg-5.col-sm-12(src='../../assets/carousel/family-expecting-second-child-graphic-1.webp' alt='Growing family')
                article.col-lg-6.col-sm-12.float-right
                    .carousel__title.desk Growing family
                    p.lead Now that you have more than one child, it feels like it's time to get serious about saving for their future.
                    .sub Kickstart a new savings plan.
                    b
                     a(href="#" style={color:'#197bc2'}) Learn more &#8594
            .carousel-item.py-5
                .carousel__title.mob Up next, college
                img.col-lg-5.col-sm-12(src='../../assets/carousel/starting-college-graphic-3.webp' alt='Up next, college')
                article.col-lg-6.col-sm-12.float-right
                    .carousel__title.desk Up next, college
                    p.lead Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
                    .sub Let’s figure out a plan.
                    b
                     a(href="#" style={color:'#197bc2'}) Learn more &#8594
            .carousel-item.py-5
                .carousel__title.mob On campus
                img.col-lg-5.col-sm-12(src='../../assets/carousel/students-on-college-campus-graphic.webp' alt='On campus')
                article.col-lg-6.col-sm-12.float-right
                    .carousel__title.desk On campus
                    p.lead With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
                    .sub Let’s plan the next step.
                    b
                     a(href="#" style={color:'#197bc2'}) Learn more &#8594
            .carousel-item.py-5
                .carousel__title.mob Grandparents
                img.col-lg-5.col-sm-12(src='../../assets/carousel/grandparents-spending-time-with-grandchildren-closeup-graphic.webp' alt='Grandparents')
                article.col-lg-6.col-sm-12.float-right
                    .carousel__title.desk Grandparents
                    p.lead You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
                    .sub Here’s how to contribute.
                    b
                     a(href="#" style={color:'#197bc2'}) Learn more &#8594
