.jumbotron.img-fluid
  img.jumbotron__watermark(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/logo-virginia.png" alt="")
  article.jumbotron__banner.col-md-7.py-4
    p &nbsp;
    p &nbsp;
    h1.jumbotron__title Can I put him through college without a mountain of debt?
    p.lead
      | With CollegeAmerica
      sup &reg;
      |  from Capital Group,
      br
      |  the nation&rsquo;s largest 529 education savings plan.
    p.jumbotron__title I can.