
.footsocial
 .container80percent
  .row
    ul
      li STAY CONNECTED:
      li.li--border-right
        a(href='#') Contact Us
      li Follow Us
      li
        a(href='#')
          img(src='https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/linkedin.png' alt='linkedin')
      li
        a(href='#')
          img(src='https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/twitter.png' alt='twitter')
      li
        a(href='#')
          img(src='https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/facebook.png' alt='facebook')
      li
        a(href='#')
          img(src='https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/youtube.png' alt='youtube')
      li
        a(href='#')
          img(src='https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/instagram.png' alt='instagram')
  .row

      ul
        li ABOUT AMERICAN FUNDS:
        li
          a(href='#') Our Company
        li
          a(href='#') News
        li
          a(href='#') Security
        li
          a(href='#') Policies
        li
          a(href='#') Media Relations
        li
          a(href='#') Careers

