.footsocial {
  background: #e5e5e5;
  padding-top: 26px;

  ul {
    margin-bottom: 20px !important;
    padding-left: 0px !important;
  }

  li {
    display: inline-block;
    padding: 0 0.5em;
    font-family: "Avenir Next LT W01 Bold", Arial;
    font-size: 14px;

    &--border-right {
      border-right: 1px #666 solid;
    }
  }

  .container80percent {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  .footsocial {
    .container80percent {
      padding-left: 40px !important;
      padding-right: 40px !important;
      width: 100% !important;
    }
  }
}
